[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[requires]

python_version = "3"


[packages]

django = "<3.0"
requests = "*"
djangorestframework = "*"
"psycopg2-binary" = "*"
gunicorn = "*"
